<!DOCTYPE html>
<head>
    <link a href="IndexStylesheet.css" type="text/css"
          runat="server" />

    <style>
        .flex-container {
            display: flex;
        }
    </style>

</head>

<body>

    @{
        ViewBag.Title = "Home Page";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="jumbotron">
        <h3><center> VIKINGNOTES </center> </h3>

        <h8>
            Velkommen tilbage efter sommerferien!

            Medicinstudiet er et af de hårdeste studier. Vi håber på at vi gennem platformen kan styrke den kollegiale ånd blandt medicinstuderende og hjælpe hinanden.

            Vi lever af alt jeres tilsendte materiale, og I kan takke hinanden! Vi har ordnet det hele i mapperne under de enkelte semestre.
            Siden vil løbende blive opdateret med integration af video- samt andet undervisningsmateriale - bare skriv forslag, så ordner vi det.
            God fornøjelse! Mvh Sardam Wahab og Johannes Rasmussen, 11. semester.
        </h8>
    </div>

    <div class="flex-container">
        <div class="row">
            <div class="col-md-3 " padding="10,10">
                <p> <a href="http://www.google.com"> <img src="../../Image/semester1.png" margin="10"> </a> </p>
                
            </div>
            <div class="col-md-3">
                <img src="../../Image/semester2.png" margin="10" />
            </div>
            <div class="col-md-3">
                <img src="../../Image/semester3.png" margin="10" />
            </div>
            <div class="col-md-3">
                <img src="../../Image/semester4.png" margin="10" />
            </div>
            <div class="col-md-3">
                <img src="../../Image/semester5.png" margin="10" />
            </div>
            <div class="col-md-3">
                <img src="../../Image/semester6.png" margin="10" />
            </div>
            <div class="col-md-3">
                <img src="../../Image/semester7.png" margin="10" />
            </div>
            <div class="col-md-3">
                <img src="../../Image/semester8.png" margin="10" />
            </div>
            <div class="col-md-3">
                <img src="../../Image/semester9.png" margin="10" />
            </div>
            <div class="col-md-3">
                <img src="../../Image/semester10.png" width="250" height="200" margin="10" />
            </div>
            <div class="col-md-3">
                <img src="../../Image/semester11.png" margin="10" />
            </div>
            <div class="col-md-3">
                <img src="../../Image/semester12.png" margin="10" />
            </div>
            <div class="col-md-3">
                <img src="../../Image/kbu.png" margin="10" />
            </div>

        </div>

    </div>
  
</body>
</html>